
<!DOCTYPE html>
<html>
    <head>
        <title>My First Web App</title>
        <link href="~/CSS/mystyle.css" rel="stylesheet" />
    </head>

    <body>

    <div class="header"> <h5>Banner</h5></div><br />
    <div class="menuvar"><h5>Menubar</h5></div><br />
    <div class="leftmenu"><h5>Left Menu</h5></div>
    <div class="rightmenu"><h5>Right Menu</h5></div>
    <div class="content">
        @RenderBody()
    </div>
        <div class="footer"><h5 align="center">all Right Rserve ## Softcode.Com </h5></div>
    
</body>

</html> 